{% extends 'base.html' %}

{% block title %} API {% endblock%}

{%block customCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/api.css')}}">
{% endblock %}

{% block body %}
<div class="text-center container">
    <br>
    <h1 class="textoReg">Tu Sonrisa te </h1>
    <h1 class="textoReg">premia</h1>
</div>
<br><br><br>
<div class="alinearH">
    <img class="camarita" src="static/img/Camara.png" />
    <h1 class="text-36">Tomar Foto</h1>
</div>
<div class="alinearH">
    <img class="camarita" src="static/img/galeria.png" />
    <h1 class="text-36">Subir Foto</h1>
</div>
</div>
<div class="text-center">
    <br>
</div>
<div class="text-center">
    <form action="/encuesta" method="POST">
        <button type="submit" class="bttn">Siguiente</button>
    </form>
</div>
<br><br><br><br>
{% endblock%}