{% extends 'base.html' %}

{% block title %} API {% endblock%}

{%block customCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/calificame.css')}}">
{% endblock %}


{% block body %}
<h1>aqui estoy calificame</h1>
<div class="posboton">
    <form action="/" method="POST">
        <button type="submit" class="bttn">Volver</button>
    </form>
    <form name="subida-imagenes" type="POST" enctype="multipart/formdata" >
        <input type="file" name="imagen" />
    </form>
</div>
{% endblock%}