{% extends 'base.html' %}

{% block title %} Registro {% endblock%}

{%block customCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/registro.css')}}">
{% endblock %}

{% block body %}
<div class="splash">
    <div class="fade-in">
        <img class="logo-eficacia-02-png" src="static/img/colgate-logo-eficacia.png" />
    </div>
</div>
<div class="text-center container ">
    <br><br><br>
    <h1 class="textoReg">Cuentanos Sobre ti</h1>
    <form action="/api" method="POST">
        <br><br>
        <input class="bg-28" type="text" name="Tu nombre" placeholder="      Tu nombre" required="required">
        <br><br>
        <input class="bg-28" type="text" name="Tu Correo" placeholder="      Tu Correo" required="required">
        <br><br>
        <button type="submit" class="bttn">Ingresar</button>
        <br><br><br><br><br><br><br><br>
    </form>
</div>
<script src="static/javascript/sp.js"></script>
{% endblock%}