{% extends 'base.html' %}

{% block title %} res {% endblock%}

{%block customCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/res.css')}}">
{% endblock %}

{% block body %}
<div class="splash">

    <h1 class="fade-in">Ya casi...</h1>

</div>
<div class="tusonrisa">
    <h1>Tu Sonrisa es!!!</h1>
</div>
<div>
    <img class="deteccion" src="static/img/deteccion_test.png" />
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="posboton">
    <form action="/recomiendame" method="POST">
        <button type="submit" class="bttn">Siguiente</button>
    </form>
</div>

<br><br>
<script src="static/javascript/spres.js"></script>
{% endblock%}