.chanchito{
    color: red;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(36,130,186);
    background: radial-gradient(circle at 25.11% 64.37%, #00aea3 0, #00aeaf 4.55%, #00adbb 9.09%, #00adc7 13.64%, #00acd1 18.18%, #00abdb 22.73%, #00a9e3 27.27%, #00a7eb 31.82%, #00a5f0 36.36%, #00a2f5 40.91%, #009ff7 45.45%, #109bf8 50%, #4b97f7 54.55%, #6993f5 59.09%, #828ef1 63.64%, #9689eb 68.18%, #a884e4 72.73%, #b77edc 77.27%, #c579d3 81.82%, #d175c8 86.36%, #da70bd 90.91%, #e26db2 95.45%, #e86aa5 100%);
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
  }

  .splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
  }

  @keyframes fadeIn{
    to{
      opacity: 1;
    }
  }

  .fade-in{
    font-family: fantasy;
    font-size: 220%;
    color: rgba(255, 244, 244, 1);
    position: relative;
    text-align: left;
    left: 50px;
    top: 50%;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }

  .deteccion{
   position: relative;
   top: 120px;
   left: 16%;
   width: 70%;
   height: 70%; 
  }

  body {
    background:linear-gradient(#2b61b9c5, #07381c);
  }

  
  .tusonrisa{
    position: relative;
    top: 60px;
    text-align: center;
    color: white;
  }

  .bttn {
    width: 288px;
    height: 48px;
    border-radius: 24px;
    background: rgba(167, 79, 255, 1);
    border: 1px solid rgba(167, 79, 255, 1);
  }
  .posboton{
    text-align: center;
  }